doctype html
html
	head
		title= title
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="css/brand.css")
		link(rel="stylesheet", href="css/nodedemo.css")
		script(type="text/javascript",src="script/jquery-1.11.0.min.js")
	body
		#container
			#header
				h2 Web 215 Node.JS
			#body
				.descr
					block content
			#footer
				.validate
					span
						a(href="http://jigsaw.w3.org/css-validator/check/referer", target="_blank")
							img(src="./images/validation/css3badge1.png", alt="Valid CSS!" )
					span
						a(href="http://validator.w3.org/check/referer", target="_blank")
							img(src="./images/validation/HTML5_Badge_32.png", alt="Valid HTML5!")
		
		
